@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,600&family=Nunito+Sans:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600&family=Raleway:wght@200;300;400;500;600&display=swap');

.personel{
    border: 1px solid black;
    max-width: fit-content;
   
}
td{
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    max-width: max-content;
    
}

tr{
    max-width: max-content;

}

body{
    font-family: 'Dosis', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    padding: 50px 50px;
}



.projects{
    margin-top: 50px;
}
.projects p{
    text-align: center;
    width: 50%;
    display: flex;
    justify-content: center;
    margin:50px  auto;
}
.container1{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}


